<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Code Queen Application Form</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <style>
      html{
        font-size: 20px;
      } 

      body{
        background-color: rgb(212, 138, 0);
        margin: 0;
        font-family: Calibri, Helvetica, sans-serif;
      }

      .container{
        width: 100%;
        margin: 3.2rem auto 0 auto;
      }

      @media(min-width: 576px){
      .container{
        max-width: 540px;
        }
      }

      @media(min-width: 768px){
      .container{
        max-width: 720px
        }
      }

      .heading{
        text-align: center;
        margin-bottom: 1.5rem;
      }

      h1{
        font-weight: 400;
      }

      #description{
        font-weight: 200;
      }

      #application-form{
        background-color: white;
        padding: 2.3rem 0.5rem;
        border-radius: 0.3rem;
      }

      .form-input{
        margin: 0 2.5rem 1.2rem 2rem;
      }

      .form-input-size{
        display: block;
        width: 100%;
        height: 2.0rem;
        padding: 0.3rem 0.4rem;
        border-radius: 0.2rem;
        outline: 0;
        border-style: none;
        margin-top: 0.4rem;  
        background: #f1f1f1;
      }

      p{
        font-size: 1.15rem;
      }

      #radio-btn,
      #check-box {
        margin-right: 0.5rem;
        min-height: 0.8rem;
        min-width: 0.8rem;
      }

      label {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }


      #submit{
        width: 100%;
        padding: 0.6rem;
        background-color: gray;
        font-weight: bold;
        color: white;
        border-radius: 1.5rem;
        cursor: pointer;
        border: none;
      }

    </style>
</head>
<body>

  {{#if message }}
  <div style="text-align: center" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span style="color: green; font-size: 20px;">{{message}}</span>
  </div>
  {{/if}}
  
   <div class="container">
       
       <form id='application-form' name="form" method="POST" action="/form" class="input" autocomplete="on">
          <div class="heading">
            <img src="images/side-logo.png" width=200px height=100px>
            <h1 id='title'>Sign up for Code Queen Kampala</h1>
            <p id='description'>
            We are excited to see you interested. Submit your application here - we can't wait to read it. The name and photo associated with your Google account will be recorded when you upload files and submit this form.
            </p>
          </div>

            <div class='form-input'>
                <label id='email-label'>Email:</label>
                <input type='email' id='email' name="email" placeholder='Enter your email' class='form-input-size' required />
            </div>
           <div class='form-input'>
               <label id='fname-label'>Firstname:</label>
               <input type='text' id='firstName' name="firstname" placeholder='Enter your firstname' class='form-input-size' required />
           </div>
           <div class='form-input'>
               <label id='lname-label'>Lastname:</label>
               <input type='text' id='lastName' name="lastname" placeholder='Enter your lastname' class='form-input-size' required />
           </div>
           <div class='form-input'>
               <label id='number-label'>Phone number(WhatsApp number)
               </label>
               <input type="text" id="phoneNumber" name="phone" placeholder="Enter your contact" size="10" class='form-input-size' required />
           </div>

           <div class='form-input'>
                <label id='birthday-label'>Date of birth:</label>
                <input type='date' id='dob' name="birthdate" class='form-input-size' required />
            </div>
           
            <div class='form-input'>
                <label id='city-label'>Which city are you from?</label>
                <input type='text' id='city' name="city" placeholder='Enter your city' class='form-input-size' required />
            </div>

            <div class='form-input'>
               <p>What is your status?</p>
               <select id='status' name="status" class='form-input-size' required>
                   <option disabled selected value>Select current status</option>
                   <option value='married'>Married</option>
                   <option value='single'>Single</option>
                   <option value='divorced'>Divorced</option>
                   <option value='separated'>Separated</option>
                   <option value='single parent'>Single Parent</option>
               </select>
           </div>

           <div class='form-input'>
                <p>Do you have any children?</p>
                <input type='radio' name='children' id='radio-btn' value='yes' />Yes</br>
                <input type='radio' name='children' id='radio-btn' value='no' />No </br>
            </div>

            <div class='form-input'>
                <label id='children-label'>If yes, how many?</label>
                <input type='text' id="number_of_children" name="numberofchildren" placeholder='Your answer' class='form-input-size' required />
            </div>

            <div class='form-input'>
                <p>What is your highest level of education?</p>
                <select id='education' name="education" class='form-input-size' required>
                    <option disabled selected value>Select education level</option>
                    <option value='university graduate'>University graduate</option>
                    <option value='a-level'>A-Level</option>
                    <option value='o-level'>O-Level</option>
                    <option value='primary'>Primary</option>
                    <option value='Other'>Other</option>
                </select>
            </div>

            <div class='form-input'>
                <p>What is your current occupation?</p>
                <select id='occupation' name="occupation" class='form-input-size' required>
                    <option disabled selected value>Select occupation</option>
                    <option value='employed'>Employed</option>
                    <option value='unemployed'>Unemployed</option>
                    <option value='Student'>Student</option>
                    <option value='Stay home parent'>Stay home parent</option>
                </select>
            </div>

            <div class='form-input'>
                <p>What is your monthly income (UGX)?</p>
                <select id='income' name="income" class='form-input-size' required>
                    <option disabled selected value>Select income</option>
                    <option value='None yet'>Don't have an income yet</option>
                    <option value='less than 200k'>Less than 200k</option>
                    <option value='between 200k and 600k'>Between 200k and 600k</option>
                    <option value='more than 600k'>More than 600k</option>
                </select>
            </div>

            <div class='form-input'>
                <p>Do you have a laptop?</p>
                <input type='radio' name='laptop' id='radio-btn' value='yes' />Yes</br>
                <input type='radio' name='laptop' id='radio-btn' value='no' />No </br>
            </div>

            <div class='form-input'>
                <p>Do you have access to data bundles or wifi?</p>
                <input type='radio' name='data_access' id='radio-btn' value='yes' />Yes</br>
                <input type='radio' name='data_access' id='radio-btn' value='no' />No </br>
            </div>

            <div class='form-input'>
                <label id='classes-label'>If No, How will you manage to continue with the program Online(for 2 hours classes, 3 times a week for 2 months)? NB: 80% attendance is required for graduation.</label>
                <input type='text' id="classes" name="access_to_classes" placeholder='Your answer' class='form-input-size' required />
            </div>

           <div class='form-input'>
               <p>How did you hear about this opportunity?</p>
               <select id='opportunity' name="opportunity" class='form-input-size' required>
                   <option disabled selected value>Select your answer</option>
                   <option value='facebook'>Facebook</option>
                   <option value='whatsapp'>WhatsApp</option>
                   <option value='website'>Website</option>
                   <option value='linkedin'>LinkedIn</option>
                   <option value='word of mouth'>Word of mouth</option>
               </select>
           </div>

           <div class='form-input'>
                <label id='media-label'>Which Facebook group, Website, WhatsApp group or other channels?</label>
                <input type='text' id='media' name="which_media_channel" placeholder='Enter your answer' class='form-input-size' required />
            </div>

            <div class='form-input'>
                <p>Why do you want to sign up for this course?</p>
                <select id="why_this_course" name="why_this_course" class='form-input-size' required>
                    <option disabled selected value>Select your answer</option>
                    <option value='career change in technology'>I'm looking for a career change in technology</option>
                    <option value='up-skill for existing employer'>I want to up-skill for my existing employer</option>
                    <option value='improve coding skills for fun'>I want to improve my coding skills for fun</option>
                    <option value='not sure'>I am not sure - I just want to see where this takes me</option>
                </select>
            </div>

           <div class='form-input'>
            <input type="checkbox" id="permission" name="permission"><label>Please check this box to give ETC permission to contact you and also process and store your data for reports</label>
            </div>

           <div class='form-input'>
             <input type='submit' value="Submit" id='submit' class="submitBtn"> 
           </div>
           
       </form>
          
   </div>

   <script>

       /*function myFunction() {
         event.preventDefault();
         fetch('/', {
            method : 'POST',
          body : JSON.stringify(),
          headers : {
            "Content-Type": "application/json"
          }
         })
           alert("Your application has been submitted");
       } */
   </script>


</body>
</html>