<!DOCTYPE html>
<html lang="en">
<head>
    <title>CODE QUEEN | HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/907e9d102e.js" crossorigin="anonymous"></script>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="./jquery-3.5.1.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    
    <header class="conatainer">
        <!-- top navigation bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="code queen.png" alt="code-queen logo" class="logo-header">
            </a>
            <!-- <a class="navbar-brand" href="#">Become the next code queen</a> -->
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about-section">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cohorts">COHORTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="form" target="_blank">APPLY NOW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">SIGN IN</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- top navigation bar end -->

        <div class="welcome-text container">
            <h1>CODE QUEEN BOOTCAMP</h1>
            <h4>Change your life, learn to <span class="orange-text">code</span></h4>
            <a href= "form" target="_blank" class="btn-main"> Apply here</a>
        </div>
        
    </header>
    <!-- header end -->

    <!-- about section start -->
    <div class="container-fluid" id="about-section">
        <div class="section-text">
            <h2 class="section-title text-center">About Code Queen</h2>
            <div class="row">
                <div class="col-md-8 px-4">
                    <p>We have partnered with The Innovation Village (a local start up hub) to bring a high quality course training young Ugandan women in coding, equipping them with the skills to find jobs in software development and STEM careers. <br> <br>
                        The course not only focuses on developing hard coding skills (in collaboration with local businesses), but also developing other attributes such as positive mind set and work readiness. It ends with a hackathon where students solve real 
                        time challenges for local businesses leading. Successful graduates are offered internships, scholarships and other linking opportunities through our ecosystem of partners. <br> <br>
                    Code Queen has successfully run 3 cohorts and graduated 70 students since the launch in 2019.    
                    </p>
                    <div class="row about-mini">
                        <div class="col-md-6 col-sm-6 cohort-picks">
                            <div class="cohort-picks-fa"> <i class="far fa-newspaper icon"></i></div>
                            <div>
                                <h7 class="orange-text">CAREER READINESS</h7>
                                <p>CV writing, interview techniques, Linkedin training, freelance workshop, cross cultural teams, remote working.</p>
                            </div> 
                        </div>
                        <div class="col-md-6 col-sm-6 cohort-picks">
                            <div class="cohort-picks-fa"> <i class="far fa-lightbulb icon"></i> </div>
                            <div>
                                <h7 class="orange-text">MINDSET TRAINING</h7>
                                <p>Goal setting, habits for success, career planning, business planning, a 'learning to learn', mentality, pitching skills, creating a culture of 'giving back'.</p>
                            </div> 
                        </div>
                        <div class="col-md-6 col-sm-6 cohort-picks">
                            <div class="cohort-picks-fa"> <i class="far fa-keyboard icon"></i> </div>
                            <div>
                                <h7 class="orange-text">INDUSTRY INPUT</h7>
                                <p>Mentorship, hackathons with industry real-life problems and speakers (selection of industry, further education and entrepreneurship).</p>
                            </div> 
                        </div>
                        <div class="col-md-6 col-sm-6 cohort-picks">
                            <div class="cohort-picks-fa"> <i class="fas fa-laptop-code icon"></i> </div>
                            <div>
                                <h7 class="orange-text">CODING SKILLS</h7>
                                <p>HTML, CSS, JavaScript, Bootstrap, Node.js, database management, Express.js, MongoDB</p>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-4 cohorts-section">
                    <h3>Cohorts</h3>
                    <p>Code Queen is a 10 week coding bootcamp developed with industry; focused on delivering in-demand 21st century job skills. <br> <br>
                    </p>
                    <iframe width="686" height="386" src="https://www.youtube.com/embed/1NCt4Q3PWiM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    <a href="cohorts">See what our cohorts are like</a>
                </div>
            </div>
        </div>
        <div class="row vision-mission">
            <div class="col-md-4 m-2 px-4 feature">
                <div class="feature-icon"><i class="fa fa-paper-plane"></i></div>
                <div class="feature-content">
                  <h4>Our Mission</h4>
                  <p>With a Mission to empower girls and young women in East Africa through education and training, our boot camps are free of charge with no extra costs</p>
                </div>
            </div>

            <div class="col-md-3 m-2 px-4 feature">
                <div class="feature-icon"><i class="fa fa-low-vision"></i></div>
                <div class="feature-content">
                  <h4>Our Vision</h4>
                  <p>To increase capacity to be able to serve 1,000 women a year by 2025. Help us reach our heights. <a href="#">Donate now</a> </p>
                </div>
            </div>

            <div class="col-md-4 m-2 px-4 feature">
                <div class="feature-icon"><i class="fa fa-clock-o"></i></div>
                <div class="feature-content">
                  <h4>Why Girls?</h4>
                  <p>The likelihood of exclusion from education is most problematic among young women in sub-Saharan Africa, where 49.8 per cent of the female youth population had either no or limited education</p>
                </div>
            </div>
        </div>

    </div>
    <!-- about section end -->

    <!-- bonus page start -->
    <div class="bonus-section">
        <div class="bonus-text container">
            <h2>Become the next Code Queen at <span class="orange-text">zero cost</span> <br>
        
        </h2>
        </div>
    </div>
    <!-- bonus page end -->

    <!-- partners section -->
    <div class="partners-section container">
        <h2 class="section-title text-center">We work with</h2>
        <div class="row container logos-div">
            <div class="col-md-6 col-sm-6"><img class="logos" src="innovation.png"></div>
            <div class="col-md-6 col-sm-6"><img class="logos" src="refactory.png"></div>
            <div class="col-md-6 col-sm-6"><img class="logos" src="safeboda.png"></div>
            <div class="col-md-6 col-sm-6"><img class="logos" src="fenix.png"></div>
        </div>
    </div>

    <!-- footer start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 container">
                    <div class="footer-logo"> <img src="side-logo.png" alt="" class="logo-ft"></div>
                    <address class="footer-list"><i class="fa fa-map-marker location"></i> 
                        Plot 31 Ntinda - Kisaasi Road<br>
                            Ntinda Shopping Complex <br>
                            Block B&C 3rd Floor
                    </address>
                    <ul class="footer-list contact">
                        <li><i class="fa fa-phone"></i> 0393241297</li>
                        <li><i class="fa fa-envelope-o"></i> team@etc.education</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 class="footer-title">Information</h3>
                    <ul class="footer-links">
                        <li><i class="fas fa-angle-right"></i> <a href="#">Testimonials</a></li>
                        <li><i class="fas fa-angle-right"></i> <a href="https://twitter.com/etceducation" target="_blank">Twitter</a></li>
                        <li><i class="fas fa-angle-right"></i> <a href="https://www.facebook.com/etceducation/?ref=br_rs" target="_blank">Facebook</a></li>
                        <li><i class="fas fa-angle-right"></i> <a href="https://www.linkedin.com/groups/9012051/" target="_blank">LinkedIn</a></li>
                        <li><i class="fas fa-angle-right"></i> <a href="#">Donate</a></li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <h3 class="footer-title">Pages</h3>
                    <ul class="footer-links">
                        <li><i class="fas fa-angle-right"></i> <a href="homepage" title="Home">Home</a></li>
                        <li><i class="fas fa-angle-right"></i> <a href="https://docs.google.com/forms/d/e/1FAIpQLSejaBQzQZeQvww2zBFaNq-U5KjAFKLcHbA_MXwbtZmMmZ9r7w/viewform" target="_blank" title="Services">Application</a></li>
                        <li><i class="fas fa-angle-right"></i> <a href="https://www.etc.education/" title="Contact Us" target="_blank">Educating the children</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3 class="footer-title">Newsletter</h3>
                    <p>Subscribe to our newsletter to get the latest 
                        updates to your inbox.</p>

                        <form>
                            <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <span class="input-group-btn">
                            <button class="btn btn-ft" type="button">subscribe</button>
                            </span>
                        </div>
                        </form>
                </div>
            </div>
        </div>
    </footer>
<!-- /.footer -->

<!-- links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>