<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	
</head>
<body>
<h1>Profile page</h1>
 <h2>Welcome</h2>
<form action="/profile" method="POST">

<div>
<span style="color:blue; font-family:'Times New Roman', Times, serif; font-size:19px;">{{user.email}}</span>
</div>

 
<div>
<span style="color:blue; font-family:'Times New Roman', Times, serif; font-size:19px;">{{user.username}}</span>
</div>

</form>

<form action="/logout" method="POST">
<div style="margin-top:20px;">
    <button>Logout</button>
</div>
</form>
</body>
</html>