body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(148, 110, 30, 0.8)),url("code queen.jpg");
	
	position: relative;
	backdrop-filter: 20px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
    
}
.cover
{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 780px;
    height: 515px;
    margin: auto;
    padding-top: 20px;
    padding-left: 50px;

}

.container
{
    background-color: white;
    text-align: center;
    margin: 40px;
    width: 600px;
    height: 280px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(25, 26, 25);


}
.title
{
    color: black;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.ifield
{
    height: 50px;
    border: 1px solid #dddddd;
	background:white;
    outline: none;
    border-radius: 30px;
    padding: 10px 30px;
    width: 80%;
    font-size: 1rem;
    margin-bottom: 30px;

}
#password
{
    margin-top: 30px;
}

.buttons
{
    align-self: center;
}

.submit
{
    width: 80%;
    height:50px;
    font-weight: bold;
    background: gray;
    border-radius: 30px;
    color:white;
    padding: 1rem 2rem;
	outline: none;
	cursor: pointer;
	font-size: 1.2rem;
	border: none;
    margin-right: 1.5 rem;
}
.submit:active
{
    transform:scale(0.7);
}
